* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
  max-width: 100%;
}

#interactive.viewport canvas.drawingBuffer {
  height: 0px;
}

body {
  background-color: #a99c6c;
  background: url(./images/food-background.jpg) no-repeat center fixed;
  background-size: cover;
}

video {
  width: 100%;
}

.viewport {
  max-width: 300px;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    background: url(./images/healthy_food_cropped.jpg) repeat;
    background-size: 100vw;
    background-attachment: scroll;
  }
}
